body {
    background-color: #3c9d9b;
}


/* styling for setting page */

.setting_container {
    background-color: green;
    height: 60vh;
    width: 99%;
}

.create_your_room_btn {
    height: 25vh;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
}

.join_a_room_btn {
    height: 18vh;
    width: 100%;
    margin-top: 2vh;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
}

.join_a_room_input {
    width: 100%;
    height: 5vh;
    border-radius: 15px;
}

.row1_welcome {
    font-family: 'Fascinate Inline', cursive;
    color: #394a6d;
}

.row2_changeusername {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
}

.row3_chatbox {
    height: 60vh;
    margin-top: 1rem;
}

#chatroom {
    background-color: #52de97;
}

.row4_chatsend {
    margin-top: 1rem;
}


/* the default is 576 and under: which is for most of the phones */


/*for the rest as desktop*/

@media (min-width: 576px) {
    .create_your_room_btn {
        height: 32vh;
        width: 80%;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 15px;
    }
    .join_a_room_btn {
        height: 25vh;
        width: 80%;
        margin-top: 2vh;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 15px;
    }
    .join_a_room_input {
        width: 80%;
        height: 5vh;
        border-radius: 15px;
    }
}