body {
    background-color: #3c9d9b;
}

.row1_welcome {
    font-family: 'Fascinate Inline', cursive;
    color: #394a6d;
}

.row2_changeusername {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
}

.row3_chatbox {
    height: 60vh;
    margin-top: 1rem;
}

#chatroom {
    background-color: #52de97;
}

.row4_chatsend {
    margin-top: 1rem;
}


/* the default is 576 and under: which is for most of the phones */


/*for the rest as desktop*/

@media (min-width: 576px) {}